<% include partials/header %>

<h1><%= festival.name %></h1>
<img src="<%=festival.image %>">
<p><%=festival.description %></p>


<% festival.comments.forEach(function(comment){ %>
   <p>
       <strong><%=comment.author %></strong> - <%=comment.text %>
   </p> 
<% }); %>
<% include partials/footer %>